.Project{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 20px 20px;
    justify-content: center;
}


.projectCard{
    
    background-color: var(--fBColor);
    border-radius: 10px;
    color: var(--greyColor);
    box-shadow: 5px 5px 5px #fff;
    position: relative;
}

.ele{
    position: absolute;
    width: 100%;
    height: 20%;
    background-color: rgba(100, 100, 100, 0.5);
    bottom: 0;
    transition: height .5s ease-out;
}

.ele:hover {
    height: 50%;
}
