.navigation {
    float: left;
    margin: 2% 2%;
    width: 10%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
  }
  
  .navigation button{
    width: 100%;
    padding: 5%;
    border-radius: 10px;
    background-color: var(--fBColor);
    color: var(--greyColor);
    box-shadow: 5px 5px 5px #fff;
  }
  
  .navigation button:nth-last-of-type(n+2){
    margin-bottom: 20px;
  }