.Contact{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 10% 50%;
    grid-template-rows: repeat(5,50px);
    justify-content: center;
    grid-gap: 10px;
    align-content: center;

}

.contact-item, .contact-sym {
    background-color: var(--fBColor);
    border-radius: 10px;
    box-shadow: 3px 3px 3px #fff;
    color: var(--greyColor);
    display: flex;
    justify-content: center;
    align-items: center;
}
