:root{
  --fBColor : #000; 
  --greyColor: rgb(100, 100, 100);
}

body{
  margin: 0 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--fBColor);
  color: var(--fBColor);
}

.App{
  margin: 0 auto;
  margin-top: 2vh;
  width: 98vw;
  height: 96vh;
  background-color: var(--greyColor);
  box-shadow: 0 0 2vh #fff inset;
  transform: translateZ(-100px);
  border-radius: 10px;
  display: flex;
}

.content-container{
  width: 90%;
  margin: 2% 2%;
}